#main-banner {
  margin: 0;
  padding: 0;
  top: 100vh;
  box-sizing: border-box;
  background-color: #1b2430;
  position: absolute;
  height: 100vh;
  color: white;
}
#banner-bg {
  top: calc(50% + 130vh);
  position: absolute;
  z-index: -100;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 150vh;
  width: fill;
}

#banner-text {
  display: grid;
  height: 100vh;
  color: white;
  grid-template-columns: 50% 50%;
}

#about {
  padding: 70px;
  text-align: right;
  padding-right: 100px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 150px;
  font-weight: 900;
  line-height: 150px;
}
#about-desc {
  padding: 50px;
  text-align: left;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 100;
}
#about-desc p:nth-child(all) {
  font-size: 25px;
  margin: 20px 0 20px 0;
}
