* {
  font-family: "Reem Kufi Fun", sans-serif;
}

#hero-bg {
  top: 50%;
  position: relative;
  z-index: -100;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 150vh;
  filter: grayscale(100%);
  overflow: hidden;
}

.layers {
  top: 60%;
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}
#hero-layer1 {
  width: 65vw;
  z-index: 100;
}
#main-hero {
  z-index: -100;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
#main-hero::-webkit-scrollbar {
  display: none;
}
.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .layers {
    width: 73vw;
  }
  #hero-layer1 {
    width: 85vw;
  }
}

@media screen and (max-width: 769px) {
  .layers {
    width: 90vw;
  }
  #hero-layer1 {
    width: 95vw;
  }
}
