* {
  font-family: "Reem Kufi Fun", sans-serif;
}
#main-hero {
  padding-top: 50px;
}

#hero-bg {
  top: 50%;
  position: absolute;
  z-index: -100;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 150vh;
  filter: grayscale(50%);
  filter: blur(50);
}
#hero-logo {
  top: 60%;
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}
#hero-logo1 {
  top: 60%;
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}
#main-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.parallax {
  pointer-events: none;
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #hero-logo {
    width: 73vw;
  }
}

@media screen and (max-width: 769px) {
  #hero-logo {
    width: 90vw;
  }
}
